@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 50%, #4facfe 100%);
  overflow-x: hidden;
}

/* Style untuk scrollbar (opsional, tapi bagus) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
